# Load the office with lighting design 1
mgf ./scenes/mgf_scenes/nrcoff/material.mgf
mgf ./scenes/mgf_scenes/nrcoff/room.mgf
mgf ./scenes/mgf_scenes/nrcoff/furn.mgf
mgf ./scenes/mgf_scenes/nrcoff/design1.mgf
